*.a
*.dat
*.log
*sav
*png
*pdf
fort*
*.vtk
*.o
*.mod
*.pyc
*.out
*~
*.fpp
#*#
./python_interface/f90wrap*f90
./python_fortran_interface/f90wrap*f90
./python_fortran_interface/.ipynb_checkpoints/
./python_fortran_interface/ExampleDerivedTypes.py
./python_fortran_interface/src.linux-x86_64-3.6/
*.bak
*.so
*ipynb_checkpoints/
build/